<div>
    <a [routerLink]="['/browse']" >Browse</a> |
    <a [routerLink]="['/listings']" >My Listings</a> |
    <a [routerLink]="['/logoff']" >Log Off</a> 
<div><br>
  
<div> 
  <form (submit)= "search()" > 
    <label for="search">Search:</label>
    <input type="text" name="query" [(ngModel)]= "query">
    <input type="submit" value="Search">
  </form>
</div>



<div *ngIf= "answer" > 
  <div *ngFor= "let a of answer">
    <h4>
      {{a.image}}<br>
      {{a.title}}<br>
      {{a.description}}<br>
      {{a.price}}<br>
      {{a.location}}<br>
    </h4>
      <div *ngIf = "a.user_id == currentUser.userId">
        <button (click)= "delete(a._id)">DELETE</button>  <br>
        <!-- EITHER INPUT/OUTPUT NEEDED FOR DELETE WITH EVENTLISTENER OR PUT DELETE FUNCTION -->
        <button><a [routerLink]="['/update', a._id]" >UPDATE</a> </button>
      </div>
      <hr>
  </div>
</div>

<app-bikes [allBikes] = "allBikes" (bikeDeleted)= "getBikes()"></app-bikes>
    
